* {
    margin: 0;
    padding: 0;
}
ul {
    list-style: none;
}
body {
    color: #9b9b9bfd;
    background-color: #b8b7b7fd;
    font-family: Helvetica,sans-serif;
    font-size: 16px;
    line-height: 1.5;
}
.web{
    background-color: #757575fd;
}
.web .head{
    background-color: rgb(0, 195, 202);
    padding: 60px 0 90px;
}
.web .head h4{
    color: white;
    font-size: 35px;
    width: 1100px;
    margin: 0 auto;
}
.web .list{
    margin: 0 auto;
    width: 1100px;
    position: relative;
    top: -30px;
}

.web .list li{
    background-color: white;
    float: left;
    margin-right: 30px;
    width: 250px;
    min-height: 150px;
    padding: 30px;    
}
.web .list li .icon{
    margin-bottom: 20px;
}
.web .list li .icon i{
    color: chartreuse;
    font-size: 30px;
}
.web .list li  h5{
    color: black;
    margin-bottom: 20px;
    font-size: 20px;
}
