* {
    margin: 0;
    padding: 0;
}
ul {
    list-style: none;
}
body {
    color: #c0c0c0fd;
    font-family: Helvetica,sans-serif;
    font-size: 16px;
    line-height: 1.5;
}
.web{
    margin: 30px auto;
    width: 1200px;
}
.web .text h1{
    color: black;
    position: relative;
    margin-bottom: 10px;
}
.web .text hr{
    width: 10%;
    height: 1px;
    background-color: aquamarine;
    /* align-content: flex-start; */

}
.web .info{
    float: left;
    width: 400px;
}
.web .info h4{
    color: black;
    font-size: 20px;
    margin-bottom: 30px;
    margin-top: 30px;
}
.web .info .list li{
    margin-bottom: 30px;
    margin-left: 20px;
    position: relative;

}
.web .info .list li i{
    font-size: 30px;
    margin-right: 20px;
}
.web .info .list li a{
    text-decoration: none;
    color: #c0c0c0fd;
}
.web .form{
    float: right;
    width: 800px;
}
.web .form h4{
    font-size: 20px;
    padding-top: 40px;
    margin-bottom: 50px;
    color: black;
}
.web .form p{
    margin-bottom: 20px;
}
.web .form p input{
    height: 30px;
    width: 500px;
}
.web .form p textarea{
    width: 500px;
}
.web .form p button{
    height: 40px;
    width: 150px;
    background-color: rgb(69, 151, 124);
    border: 1px solid rgb(69, 151, 124);
    color: #fff;
    transition: 0.3s background-color
}
.web .form p button:hover{
    border: 1px solid chartreuse;
    background-color: chartreuse;
}