* {
    margin: 0;
    padding: 0;
}
ul {
    list-style: none;
}
body {
    color: #bdbdbdfd;
    font-family: Helvetica,sans-serif;
    font-size: 16px;
    line-height: 1.5;
}
.web{
    margin: 30px;
    width: 1200px;
}
.web .head h2{
    color: black;
    font-size: 30px;
    margin-bottom: 30px;
}
.web .form p {
    margin-bottom: 30px;
}
.web .form p input{
    height: 30px;
    width: 300px;
    margin-right: 30px;
    padding-left: 10px;
}
.web .form p.sub input{
    width: 650px;
}
.web .form p textarea{
    width: 640px;
    padding: 10px;
}
.web .form button{
    float: left;
    border-radius: 4px;
    background-color: aquamarine;
    border: 1px solid rgb(0, 167, 111);
    height: 30px;
    width: 100px;
    transition: 0.3s all;
}
.web .form button:hover{
    background-color: rgb(127, 255, 148);
}
.web .form .butt .text{
    float: right;
    width: 835px;
}